<br/>
<h2><%= @store.name %></h2>
<br/>

  <div class="small-2 columns">

    <p>
      <b>Address</b><br>
      <%= @store.street %><br />
      <%= @store.city %>, <%= @store.state %> <%= @store.zip %>
    </p>

    <p>
      <b>Phone</b><br>
      <%= number_to_phone @store.phone %>
    </p>

    <%if logged_in? %>
      <p>
        <b>Active</b> 
        <%= @store.active ? "Yes" : "No" %>
      </p>
    <% end %>

    <% unless logged_in? and current_user.role? :admin%>
      <div class="form-actions">
        <br/>
        <div id = "back-button">
          <%= link_to(stores_path, class: 'button radius') do %>
            SEE ALL STORES
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="small-3 columns">

    <% unless @store_flavors.empty? %>
      <p>
        <b>Flavors Offered:</b><br/>
        <% @store_flavors.each do |sf| %>
            <%= sf.flavor.name %><br/>
        <% end %>
      </p>
    <% end %>
  </div>


