<%if logged_in? and current_user.role? :admin %>
  <% opt = "#{object.respond_to?(:name) ? object.name : model_name.capitalize }" %>

  <div class="form-actions">
    <%= link_to(eval("#{model_name.pluralize}_path"), class: 'button radius') do %>
      &nbsp;Display All <%= model_name.pluralize.capitalize %>
    <% end %>
    &nbsp;&nbsp;
    
    <%= link_to(eval("edit_#{model_name}_path(object)"), class: 'button radius') do %>
        &nbsp;<%= "Edit #{opt}" %>
    <% end %>
    &nbsp;&nbsp;
    
    <%= link_to(eval("#{model_name}_path(object)"), method: 'delete', data: {confirm: "Are you sure you want to permanently delete #{opt}"}, class: 'button radius alert') do %>
        &nbsp;<%= "Delete #{opt}" %>
    <% end %>
  </div>

<%elsif logged_in? and current_user.role? :manager %>
  <% opt = "#{object.respond_to?(:name) ? object.name : model_name.capitalize }" %>

  <div class="form-actions">
    <div id = "back-button">
    <%= link_to(dashboard_path, class: 'button radius') do %>
      &nbsp;SEE ALL <%= model_name.pluralize.upcase %>
    <% end %>
  </div>
    &nbsp;&nbsp;


<% end %>
</div>