<div class="row">
  <div class="small-6 columns">
		<% @thisStore = Assignment.current.for_employee(current_user.employee_id).first.store %>
		<h3>Store Details</h3>
		<p>
		  <h4>
		    Name: <%= @thisStore.name %>
		  </h4>
		</p>

		<p>
		  <b>Address:</b><br>
		  <%= @thisStore.street %><br />
		  <%= @thisStore.city %>, <%= @thisStore.state %> <%= @thisStore.zip %>
		</p>

		<p>
		  <b>Phone:</b><br>
		  <%= number_to_phone @thisStore.phone %>
		</p>

		<p>
		  <b>Active:</b> 
		  <%= @thisStore.active ? "Yes" : "No" %>
		</p> 
  </div>
  
    <div class="small-6 columns">
	  <%= render 'stores/list_of_flavors' %>

	  <%= link_to(new_store_flavor_path(store_id: @thisStore.id), id: 'new_store_flavor_link', class: 'button tiny radius', remote: true) do %>
	    Add New Flavor
	  <% end %>
	</div>

	<div class="small-12 columns">
		<% @storeassignments = Assignment.current.for_store(@thisStore).paginate(page: params[:page]).per_page(15) %>
		<% state = "current" %> 

		<% if @storeassignments.empty? %>
		  <p><em>There are no <%= state %> assignments at this time.</em></p>
		<% else %>
		  <h3><%= state.capitalize %> Assignments</h3>
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Employee</th>
		        <th>Phone</th>
		        <th class="centered">Role</th>
		        <th>Start Date</th>
		        <% if state == 'past' %>
		          <th>End Date</th>
		        <% end %>
		        <th>&nbsp;</th>
		        <th>&nbsp;</th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @storeassignments.each do |assignment| %>
		      <%# @assignment_test = assignment %>
		        <tr>
		          <td><%= link_to assignment.employee.name, employee_path(assignment.employee) %></td>
		          <td><%= number_to_phone assignment.employee.phone unless assignment.employee.phone.nil?  %></td>
		          <td class="centered"><%= assignment.employee.role.capitalize %></td>
		          <td><%= assignment.start_date.strftime("%m/%d/%y") %></td>

		          <% if state == 'past' %>
		            <td><%= assignment.end_date.strftime("%m/%d/%y") %></td>
		          <% end %>
		          <td>
		          	
		          	
		          	<%#= @assignment_test.nil? %>
		            <%= link_to(new_shift_path, class: 'button tiny radius warning') do %>
		              &nbsp;Add Shift&nbsp;
		            <% end %>
	          	  </td>

		          <td>
		          </td>
		        </tr>
		      <% end %>
		    </tbody>
		  </table>
		  <%= will_paginate @storeassignments, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
		<% end %>
	</div>
</div>



<!-- 	<div class="small-6 columns">
		<%#= render partial: "shifts/list_shifts", locals: {store: @store, shifts: @shifts}  %>
		<%#= render "list_shifts", locals: {model_name: "store", object: @thisStore}  %>
		<%#= render 'shifts/list_shifts' %>
 	</div> -->


  


<!-- Add buttons to list all, edit project or destroy object -->
<%# render partial: "partials/object_options", locals: {model_name: "job", object: @job}  %>