<h3><%= Date.current.strftime("%A %B %d, %Y") %></h3>	

	<%# @shifts = Shift.for_store(@thisStore).for_next_days(0).chronological.paginate(page: params[:page]).per_page(5) %>
	<div class="row">

	<div class="small-6 columns">
	<h4>Today's Shifts</h4>
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Date</th>
		        <th>Start Time</th>
		        <th>End Time</th>
		        <th>Notes</th>
		        <!-- <th>&nbsp;</th> -->

		      </tr>
		    </thead>
		    <tbody>
		      <% @today_shifts.each do |shift| %>
		        <tr>
		          <td><%= shift.date.strftime("%m/%d/%y") %></td>
		          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.notes %></td>

		          <% if Time.now.strftime("%H:%M %p") > shift.end_time.strftime("%H:%M %p") %>
		          	  
			          <td>
			            <%= link_to(shift_path(shift), class: 'button tiny radius warning') do %>
			              &nbsp;View Jobs&nbsp;
			            <% end %>
	          		  </td>
          		  <%end%>

		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	  <%= will_paginate @today_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
	 </div>

	&nbsp;

	 <div class="small-6 columns">
		<h4>Upcoming Shifts</h4>
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Date</th>
		        <th>Start Time</th>
		        <th>End Time</th>
		        <th>Notes</th>

		      </tr>
		    </thead>
		    <tbody>
		      <% @upcoming_shifts.each do |shift| %>
		        <tr>
		          <td><%= shift.date.strftime("%m/%d/%y") %></td>
		          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.notes %></td>


		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	  <%= will_paginate @upcoming_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
	 </div>


	 <div class="small-12 columns">
		<h4>Past Shifts</h4>
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Date</th>
		        <th>Start Time</th>
		        <th>End Time</th>
		        <th>Notes</th>
		        <th>&nbsp;</th>

		      </tr>
		    </thead>
		    <tbody>
		      <% @past_shifts.each do |shift| %>
		        <tr>
		          <td><%= shift.date.strftime("%m/%d/%y") %></td>
		          <td><%= shift.start_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.end_time.localtime.strftime("%I:%M %p") %></td>
		          <td><%= shift.notes %></td>
		          <td>
		            <%= link_to(shift_path(shift), class: 'button tiny radius warning') do %>
		              &nbsp;View Jobs&nbsp;
		            <% end %>
          		  </td>


		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	  <%= will_paginate @past_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
	 </div>

</div>