<%= simple_form_for @shift, html: { :class => 'form-horizontal' }, remote: true do |f| %>

    <%= f.input :assignment_id, :collection => Assignment.chronological, input_html: {class: "avg"} %>
    <%= f.input :date, :label => "Start Date", :as => :date, :start_year => Date.today.year, :end_year => Date.today.year - 1, :order => [:month, :day, :year] %>
    <%= f.input :start_time, input_html: {class: "avg"} %>
    <%= f.input :end_time, input_html: {class: "avg"} %>
    <%= f.input :notes, input_html: {class: "avg"} %>

  <p>&nbsp;</p>
  <div class="form-actions">
    <%= f.submit nil, class: 'button tiny radius' %>
    <%= link_to 'Cancel', shift_path(params[:shift_id]), class: 'button tiny radius alert' %>
  </div>
<% end %>

