<!-- <h3>Shift Details</h3> -->
<div id="shift-details">
  <p>
    <h3>
      Employee: <%= @shift.assignment.employee.proper_name %>
    </h3>
    <h4>
      Store: <%= @shift.assignment.store.name %>
    </h4>
  </p>

  <p>
    <b>Date:</b> 
    <%= @shift.date.strftime("%m/%d/%y") %>
  </p>

  <p>
    <b>Start Time:</b> 
    <%= @shift.start_time.localtime.strftime("%I:%M %p") %>
  </p>

  <p>
    <b>End Time:</b> 
    <%= @shift.end_time.localtime.strftime("%I:%M %p") %>
  </p>

  <p>
    <b>Notes:</b> 
    <%= @shift.notes %>
  </p>

  <%= render 'list_of_jobs' %>


  <%= link_to(new_shift_job_path(shift_id: @shift.id),id: 'new_job_link', class: 'button tiny radius', remote: true) do %>
    Add New Job
  <% end %>
</div>