<div class="row">
  <div class="small-7 columns">
    <%= render partial: "shift_details" %>

    <% if logged_in? and current_user.role? :employee %>
        <%= link_to(employee_shifts_path, class: 'button radius') do %>
          &nbsp;<%= "Back to Shifts" %>
        <% end %>
    <% end %>
  </div>
</div>

<% if logged_in? and !current_user.role? :employee %>
  <div class="form-actions">

    <%= link_to(myshifts_path, class: 'button radius') do %>
      &nbsp;<%= "Back to Shifts" %>
    <% end %>

    &nbsp;&nbsp;
    
    <%= link_to(shift_path(@shift), class: 'button radius') do %>
        &nbsp;<%= "Edit Shift" %>
    <% end %>
    &nbsp;&nbsp;
    
    <%= link_to(shift_path(@shift), method: 'delete', data: {confirm: "Are you sure you want to permanently delete shift"}, class: 'button radius alert') do %>
        &nbsp;<%= "Delete Shift" %>
    <% end %>
  </div>
<% end %>


